<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Security Generator</title>
</head>
<body>
<h1> Security Generator </h1>
<p> This is a Security Generator for active members that will only pull them once a semester.</p>
<div class="Sec">
 <label for="userInput">number of sec needed:</label><br>
<input type="text" id="userInput" name="userInput" placeholder="Type here..." required>
        <br><br>
        <input type="submit" value="Submit">
    </div>
</body>

</html>
